/*Figbook styling*/
/*this is the background div for the textarea where the manuscript will be written*/
html,body
{
    margin:0;
    background: white; /* Old browsers */
   
	background-size:cover;
    
}

#bookDiv{
width:500px;min-height:240px;margin-right:auto;margin-left:auto;background-color:rgba(200,200,200,1.00);
text-align:center;margin-top:80px;
background: rgba(142,208,232,1);
background: -moz-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,208,232,1)), color-stop(50%, rgba(153,226,250,1)), color-stop(100%, rgba(156,218,240,1)));
background: -webkit-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -o-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -ms-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: linear-gradient(to bottom, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
display:none;
}
#backDiv{
    overflow-y:auto;
	overflow-x:hidden;
	height:100%;
	width:100%;
}
.sectionDiv{width:100%;background-color:white;min-height:300px;height:auto;cursor:pointer;}
.sectionHeading{width:100%;background-color:rgba(243,243,243,1.00);height:40px;text-align:center;font-size:24pt;
line-height:40px;
}
.insideText{white-space:pre-line;padding:20px;}
#preface{margin-top:14px;resize:vertical;}

.menuItem{
	color:white;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	font-size: 45px;
	text-decoration: none;
	text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 2px 0 #bbb,
               0 3px 0 #b9b9b9,
               0 4px 0 #aaa,
               0 3px 1px rgba(0,0,0,.1),
               0 0 3px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	}
.menuItem:hover{color:white;text-decoration:none;
	font-size: 50px;
	}
.menuItem:active{color:white;text-decoration:none;
font-size: 45px;
}
#inputHeading{width:100%;height:40px;text-align:center;background-color:rgba(243,243,243,1.00);
	font-size:18pt;margin-bottom:-20px;
}
#pageEditTitle{text-align:center;height:36px;padding:1px;}

#infoBox{width:320px;height:110px;margin-left:auto;margin-right:auto;margin-top:20px;}
#labels{float:left;height:auto;width:100px;}
#inputs{float:right;;height:auto;width:200px;}
#saveBookForm{margin-top:10px;margin-bottom:10px;}

#scriptMenuBar{width:100%;height:60px;
background: rgba(196,192,196,1);
background: -moz-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,192,196,1)), color-stop(50%, rgba(130,132,133,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: linear-gradient(to bottom, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);

-webkit-box-shadow: 2px 2px 24px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);
box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);

  font: 25px Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #1A1A1A;
  font-weight:500;
  text-shadow: 0px 2px 3px #848484;
  line-height:60px;
}
#manuscriptArea{margin-top:10px;resize: vertical;column-rule:medium;}

#viewBooks
{
	width:150px;
	height:40px;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:left;
border-bottom:1px solid rgba(47,47,47,0.92);
	color:rgba(4,42,130,1.00);
text-shadow: 0 1px 2px rgba(107,207,198,1.00);

	text-align:center;
	line-height:35px;
	font-size:20pt;
}
#viewBooks:hover{cursor:pointer;height:38px;border-bottom:solid 2px rgba(85,127,184,1.00);}
.service
{
	width:150px;
	height:40px;
	top:-1;
	/*background-color:rgba(59,136,192,1.00);
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);*/
border-bottom:1px solid rgba(47,47,47,0.92);
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:left;
	color:rgba(4,42,130,1.00);
text-shadow: 0 1px 2px rgba(107,207,198,1.00);

	text-align:center;
	line-height:35px;
	font-size:20pt;
}
.service:hover{cursor:pointer;height:38px;border-bottom:solid 2px rgba(85,127,184,1.00);}

.bookItem{margin:5px;float:left;width:239px;height:150px;

background-color:transparent;
background:url("../images/old_book.png") center no-repeat;
background-size:220px 150px;
line-height:150px;text-align:center;/*
-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);*/
font-size: 16pt;

}
.bookItem:hover{cursor:pointer;
box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.75);
}
#bookList
{
width:750px;min-height:480px;margin-right:auto;margin-left:auto;
margin-top:30px;

}
#scrollDiv{height:560px;width:770px;overflow-y:auto;overflow-x:none;
margin-left:auto;margin-right:auto; margin-top:20px;
padding-top: 1px;
}

#serviceBackground{width:800px;height:700px;margin-left:auto;margin-right:auto;
/*background:rgba(51, 204, 255,0.3);
/*background: -moz-linear-gradient(top, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,194,219,1)), color-stop(50%, rgba(83,186,214,1)), color-stop(100%, rgba(109,189,209,1)));
background: -webkit-linear-gradient(top, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
background: -o-linear-gradient(top, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
background: -ms-linear-gradient(top, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
background: linear-gradient(to bottom, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
*/

}
#goBackService{

width:150px;
	height:40px;

	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:left;
	
	
	border-bottom:1px solid rgba(47,47,47,0.92);
	text-align:center;
	line-height:35px;
	font-size:14pt;

}
#goBackService:hover{border-bottom:2px solid #2385AF;}
#serviceGoBack{font-size:20pt;font-weight:normal;
color:rgba(4,42,130,1.00);
text-shadow: 0 1px 2px rgba(107,207,198,1.00);
text-decoration:none;
}

#services
{
	float:right;
	height:40px;
	width:302px;	
}
#serviceContainer{
    padding-top:1px;
    min-height:400px;
    margin-top:20px;
  /* background: -moz-linear-gradient(top, #45484d 0%, #000000 47%, #45484d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(47%,#000000), color-stop(100%,#45484d)); 
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 47%,#45484d 100%); */
background:rgba(194, 202, 204,0.5);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
#topService{height:60px;width:100%;
position: fixed;
top:0px;left: 0px;
border-bottom:1px solid #C0C0C0;
background:rgb(255,255, 255);
margin-bottom: 0px;
/*
background: -moz-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,192,196,1)), color-stop(50%, rgba(130,132,133,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: linear-gradient(to bottom, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);*/

/*-webkit-box-shadow: 2px 2px 24px 3px rgba(0,0,0,0.35);
-moz-box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);
box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);*/



}
.grid-width-100{margin-top:-6px;background: transparent;}
.grid-container{margin-top:21px;background: grey;}
#editSection{ background:grey; }
#saveBtn{width:80px;height:30px;margin-left:32px;}
#saveBtn:hover{cursor: pointer;}
/*Figbook styling END*/

@media(min-width:320px) and (max-width: 767px) {
	#menu-container{width:318px;}
	.templatemo_link{height:150px;line-height:150px;padding:0px;text-algin:center;width:100%;}
	.templatemo_mainimg{visibility:hidden;height:0px;margin:0;}
	.menuBox{text-align:center;height:150px;width:305px;float:left;margin:5px;}
	.menuItem{font-size:28pt;}
	.menuItem:hover{font-size:30pt;}
	
	/*This is the Catalogue area's styling for a phone size*/
	#serviceBackground{width:300px;min-height:900px;}
	#topService{width:100%;height:140px;}
	#services{height:90px;width:200px;margin-right:auto;margin-left:auto;float:none;}
	.service{margin-top:5px;float:left;margin-left:25px;}
	#scrollDiv{width:280px;overflow-x:hidden;height:700px;
    margin-top:40px;
    }
    #serviceContainer{margin-top:60px;}
	#viewBooks{margin-left:25px;margin-top:5px;}
	#goBackService{float:none;margin-left:auto;margin-right:auto;margin-top:5px;}
	#bookDiv{width:98%;}
	#bookList{width:250px;}
	#inputs{margin-right:15px;}
	#preface{width:90%;}
	#scriptMenuBar{height:80px;line-height:40px;}
	#next-button{margin-bottom:10px;}
	/*This is the Catalogue area's styling for a phone size*/
	
	
	/*.container	{ left: 15px; right: 15px; padding: 0px; }*/
}
@media(min-width:768px) {
	#menu-container{width:760px;}
	.templatemo_link{height:150px;line-height:150px;padding:0px;text-algin:center;width:100%;}
	.templatemo_mainimg{visibility:hidden;height:0px;margin:0;}
	.menuBox{text-align:center;height:150px;width:750px;float:left;margin:5px;}
	#serviceBackground{width:700px;}
	
	/*This is the Catalogue area's styling for a 768+ px size*/
	#serviceBackground{width:700px;min-height:700px;}
	#topService{width:100%;height:42px;}
	
	
	#scrollDiv{width:530px;overflow-x:hidden;height:580px;}
	
	#bookDiv{width:50%;}
	#bookList{width:98%;}
	#inputs{margin-right:15px;}
	#preface{width:250px;}
	#scriptMenuBar{height:60px;line-height:60px;}
	#next-button{margin-bottom:10px;}
	#preface{width:90%;}

	/*.container { left: 50%; margin-left: -375px; right: 0px; }*/

}



@media(min-width:1200px) {
	#menu-container{width:1180px;height:auto;}
	.templatemo_link{height:150px;line-height:150px;padding:0px;text-algin:center;width:100%;}
	.templatemo_mainimg{visibility:visible;width:200px;height:150px;margin-top:-30px;margin-left:41px;}
	.menu-img{width:300px;height:150px;visibility:visible;}
	.menuBox{height:300px;width:382px;float:left;margin:5px;}
	
	
	#topService{width:100%;height:42px;}
	
	
	#scrollDiv{width:780px;overflow-x:hidden;height:580px;}
	#bookDiv{width:40%;}
	#preface{width:90%;}
	#bookList{width:100%;}
	#inputs{margin-right:15px;}
	#scriptMenuBar{height:60px;line-height:60px;}
	#next-button{margin-bottom:10px;}
	#serviceBackground{width:800px;}
	
	#contactImage{width:400px;float:left;}
	#aboutMeImage{width:400px;float:left;}
	#aboutLeftBack{width:360px;}
 
}