.version.index /* version checker */
{
<<<<<<< HEAD
	color: #000014;
	background-color: #DCC6AB;
=======
	color: #000004;
	background-color: #E56DD8;
>>>>>>> origin/Interface
}

.html
{
	background: #FFFFFF url("../images/dark-blue-background-backgrounds-wallpapers.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#pu72
{
	width: 0.01px;
	padding-bottom: 114px;
	margin-left: -100px;
}

#u72
{
	z-index: 4;
	height: 57px;
	top: 0px;
}

#u72-bw
{
	z-index: 4;
}

#u216
{
	z-index: 7;
	width: 125px;
	height: 126px;
	top: -3px;
	left: 97px;
}

#pamphletu275
{
	z-index: 12;
	width: 0.01px;
	height: 36px;
	padding-bottom: 9px;
	margin-left: 810px;
	top: -104px;
	margin-bottom: -45px;
	position: relative;
}

#u285
{
	z-index: 13;
	width: 242px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u287
{
	position: absolute;
	width: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	padding-bottom: 11px;
	top: -11px;
	left: -4px;
}

#u342-4
{
	z-index: 15;
	width: 77px;
	min-height: 21px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
}

#u287:hover #u342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 11px -10000px 0px 0px;
}

#u286
{
	position: absolute;
	width: 85px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #C4C4C4;
	padding-bottom: 9px;
	top: -11px;
	left: 84px;
}

#u286:hover
{
	border-color: #999999;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u341-4
{
	z-index: 20;
	width: 77px;
	min-height: 21px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 8px;
}

#u286:hover #u341-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 13px -10000px 0px 0px;
}

#u286.PamphletThumbSelected #u341-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 13px -10000px 0px 0px;
}

#u330
{
	position: absolute;
	width: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #C4C4C4;
	padding-bottom: 11px;
	top: -11px;
	left: 177px;
}

#u287:hover,#u330:hover
{
	border-color: #999999;
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u343-4
{
	z-index: 25;
	width: 49px;
	min-height: 21px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u287.PamphletThumbSelected #u342-4,#u330:hover #u343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 11px -10000px 0px 0px;
}

#u330.PamphletThumbSelected #u343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 11px -10000px 0px 0px;
}

#u287.PamphletThumbSelected #u342-4 p,#u286.PamphletThumbSelected #u341-4 p,#u330.PamphletThumbSelected #u343-4 p
{
	font-size: 18px;
}

#u276
{
	position: absolute;
	width: 665px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 120px;
	left: -634px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u276popup
{
	z-index: 29;
}

#u279
{
	z-index: 30;
	width: 621px;
	height: 472px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u281
{
	z-index: 31;
	width: 621px;
	height: 472px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u339
{
	z-index: 32;
	width: 200px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
	left: 211px;
}

#u331
{
	z-index: 33;
	width: 621px;
	height: 472px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u335
{
	z-index: 34;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 211px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu259
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -57px;
}

#u259
{
	z-index: 2;
	height: 733px;
}

.ie #u279,.ie #u259
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u259-bw
{
	z-index: 2;
	margin-top: 25px;
	height: 733px;
}

#u260
{
	z-index: 3;
	min-height: 100px;
}

#u260-bw
{
	z-index: 3;
	min-height: 100px;
	height: 100px;
}

#pu178
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 41px;
}

#u178
{
	z-index: 5;
}

#u178_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u179
{
	z-index: 6;
	width: 223px;
	height: 82px;
	margin-right: -10000px;
	margin-top: -25px;
	left: 970px;
}

#u178-bw
{
	z-index: 5;
	height: 57px;
}

#u230-4
{
	z-index: 8;
	margin-right: -10000px;
	margin-top: 5px;
	left: 855px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
}

