html,body
{
    margin:0;
    background: white; /* Old browsers */
    height: 100%;
	background-size:cover;
    
}

.wrapper{display:none;}
.wrapperReg{display:none;}

.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position:relative;
  margin-left:auto;
  margin-right:auto;
  
  width: 600px;
  height: 400px;
  overflow: hidden;
  z-index = 10001;
}
.wrapperReg{
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position:relative;
  margin-left:auto;
  margin-right:auto;
  
  width: 600px;
  height: 500px;
  overflow: hidden;
  z-index = 10001;

}


#forgot-password
{
  font-size: 15pt;
  text-decoration: none;
  font-family: cursive;
  color: white;
}
#forgot-password:hover
{
  text-decoration: underline;
  font-size: 16pt;
}
/*This is the header and footer styling START*/
#header{
	width:100%;
	height:65px;
	position:fixed;
	top:0px;
	z-index:20;
	background-color:white;
-webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
}
#figbookLogo{width:100px;height:100px;position:relative;left:20px;float:left;}
#figbookHeading{position:relative;float:left;left:40px;top:-24px;
   color:rgba(51, 204, 51,0.9);
	text-shadow: 3px 3px 3px rgba(92, 92, 92,0.4);
	font-size:64pt;
	font-weight: 500;	
}
#menu{float:right;
	height:40px;
	width:304px;
}

#log
{
	margin-top:10px;
	width:150px;
	height:40px;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:left;
border-bottom:2px dotted rgba(47,47,47,0.92);
	color:rgba(4,42,130,1.00);
text-shadow: 0 1px 2px rgba(107,207,198,1.00);
	text-align:center;
	line-height:35px;
	font-size:20pt;
	margin-right:2px;
}
#log:hover{
	font-size:25pt;
	cursor:pointer;height:48px;border-bottom:solid 2px rgba(85,127,184,1.00);
}

#reg
{
	margin-top:10px;
	width:150px;
	height:40px;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:left;
border-bottom:2px dotted rgba(47,47,47,0.92);
	color:rgba(4,42,130,1.00);
text-shadow: 0 1px 2px rgba(107,207,198,1.00);
	text-align:center;
	line-height:35px;
	font-size:20pt;
}
#reg:hover{
	font-size:25pt;
	cursor:pointer;height:48px;border-bottom:solid 2px rgba(85,127,184,1.00);
}


#footer{
background:rgba(10,10,10,0.9);
bottom:0px;
width:100%;
height:180px;
-webkit-box-shadow: 0px -4px 9px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -4px 9px -4px rgba(0,0,0,0.75);
box-shadow: 0px -4px 9px -4px rgba(0,0,0,0.75);
}
#footDiv{float:right;margin-right:20px;margin-top:10px;width:200px;}
#footList{
	float:left;
	position:relative;
	padding-top: 10px;
	padding-bottom:10px;
	top:0px;
	left:40px;
	width:250px;
	height:auto;
	
}
span{background:url("../images/smallDot.png") no-repeat left;
text-shadow: 0px 1px 4px rgba(0,0,0,1.0);font-size:15pt;
padding-left:20px; 
}
span:hover{cursor:pointer;font-size:17pt;
background:url("../images/smallDotFilled.png") no-repeat left;
}
.smallDot{width:12px;height:12px; margin-right:20px;}
/*This is the header and footer styling END*/


/*This is the Body container styling START*/
#background{
	height:700px;
	width:100%;
	overflow: hidden;
	background:rgba(194, 202, 204,0.5);
}
#container{
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	min-height:600px;
	height:auto;
	width:1000px;
	
	/*background:white;*/
}
#whatWorks{
	position:relative;
	top:5px;
	height:200px;
	width:1000px;

}
#whyFigbook{
	position:relative;
	top:-30px;
	left:120px;
	height:200px;
	width:300px;
	float:left;
}
#figtoryWho
{
	position:relative;
	top:-30px;
	float:right;
	right:100px;
	height:200px;
	width:320px;
	
}
#lightbox {
	position: absolute;
	top: 0;
	width: 600px;
	
	background: transparent;
	z-index: 1001;
	display: none;
}
#lightbox-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}
.welcome{margin-top:-50px;}
/*This is the Body container styling END*/

/*All text related styling START*/
.text-color{color:black;font-weight:500;}
.h2{font-size: 24pt;margin-bottom:20px;text-align:center;
	color:black;
	text-shadow: 1px 2px 4px rgba(0,0,0,1.0);
	font-weight:500;
}
.p{text-align:center;margin-top:5px;font-size: 14pt;
text-shadow: 1px 2px 10px rgba(0,0,0,1.0);
}
.text-shadow{
	text-shadow: 1px 2px 10px rgba(0,0,0,1.0);
}
/*All text related styling END*/

/*Size styling START*/
@media(min-width:320px) and (max-width:767px)
{
    html,body{overflow-x:hidden;}
    /*Set container size START*/
    #background{height:auto;min-height:1400px;width:100%; min-width:320px; }
    #container
    {   min-width:320px;     
        width:100%;
        height:auto;
        min-height:1400px;
    }
    /*Set container size END*/
    
    /*Style tree texts START*/
    #whatWorks,#whyFigbook,#figtoryWho
    {
        width:300px;
        height:auto;
        float:none;
        margin-left:auto;margin-right:auto;
        margin-top:50px;
        position: static;
    }
    /*Style tree texts END*/
    
    /*Style Footer START*/
    #footer{height:230px;width:100%;padding:1px;}
    #footDiv
    {
        position: static;
        float:none;margin-left:auto;margin-right:auto;
        margin-top:10px;
        width:200px;
    }
    #footDiv h2{display: none;}
    #footList{float:none;margin-left:auto;margin-right:auto;height:auto;}
    /*Style Footer END*/
    
    /*Login and register Style START*/
    #figbookHeading{display:none;}
    #menu{width: auto;height:auto;}
    #log,#reg
    {
        font-size: 14pt;
        width:75px;
        float:right;
        margin-left:3px;
    }
    #log:hover ,#reg:hover{font-size: 15pt;height:45px;}
    
    .wrapper, .wrapperReg{width:300px;}
    #lightbox-shadow{min-height:1200px;}
    #lightbox{margin-bottom:200px;}
    /*Login and register Style END*/
    
}/*End of 320px*/

@media(min-width:768px) and (max-width:991px)
{
    html,body{overflow-x:hidden;}
    /*Set container size START*/
    #background{height:auto;min-height:1100px;width:100%; min-width:320px; }
    #container
    {   min-width:320px;     
        width:100%;
        height:auto;
        min-height:1100px;
    }
    /*Set container size END*/
    
    /*Style tree texts START*/
    #whatWorks,#whyFigbook,#figtoryWho
    {
        width:500px;
        height:auto;
        float:none;
        margin-left:auto;margin-right:auto;
        margin-top:50px;
        position: static;
    }
    /*Style tree texts END*/
    
    /*Login and register Style START*/
    #log,#reg
    {
        font-size: 16pt;
        width:100px;
        float:right;
        margin-left:3px;
    }
    #log:hover ,#reg:hover{font-size: 17pt;height:45px;}
    /*Login and register Style END*/
    
    /*Style Footer START*/
    #footer{height:180px;width:100%;padding:1px;}
    #footDiv
    {
        position: static;
        float:right;
        margin-top:10px;
        margin-right:20px;
        width:200px;
    }
    #footList{height:auto;}
    /*Style Footer START*/
    
    /*Lightbox bottom adjust*/
    #lightbox{margin-bottom:200px;}
}
@media(min-width:992px and max-width:1199px)
{
    
}
@media(min-width:1200px)
{
    
}

/*Size styling END*/


