/* Credit: http://www.templatemo.com */

/* 
Matrix Template 
http://www.templatemo.com/preview/templatemo_405_matrix 
*/

html, body {
	font-family: Tahoma, Arial; 
	padding: 0px; 
	margin: 0px; 
	/*background-color:rgba(0,0,0,0);*/
	font-size: 16px;
	
		/*background: #FFFFFF url("../images/dark-blue-background-backgrounds-wallpapers.jpg") no-repeat center center scroll;*/
	
	/*background: #FFFFFF url("../images/dark-blue-background-backgrounds-wallpapers.jpg") no-repeat center center scroll;*/
	
	
	
	
}

.html
{

}
img	{ width: 100%; }


a:hover, a:focus {
	text-decoration: none;
	color: #cccccc;
}
a:active, a:focus {
	color: #ffffff;
	border: none;
}

/*h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Arial;
	font-weight: 400;
}
h1	{	font-size: 3em;
	color: #cccccc;
	background: #343537;
	padding: 0px 0px;
	float: left;
	text-shadow: 4px 2px 2px rgba(33, 33, 33, 1);
	margin: 5% 0% 0% 2%;;
	}
	
h2	{ 
	font-size: 30px;
	font-weight:bold; 
	color: #333333;
	margin-top: 0px;
	}
h3 { 
	text-align: center; 
	font-size: 2em;
	}*/
/*Everything we put in (Figbook) */
#preface{margin-top:14px;resize:vertical;}


#portImageBack{height:200px;width:200px; float:right;margin-right:20px;}
#portImage{height:200px;width:200px;}

#portfolioGray{width:550px;
	float: left; 
	background: #cccccc;
	overflow: hidden;
	z-index:2;
}
#backDiv{overflow-y:auto;
	overflow-x:hidden;
	height:100%;
	width:100%;
}

#profileFrame{width:320px;}


#aboutme{}/*This is the about me textArea*/
#frame2{z-index:2; float:right;overflow-x:hidden; margin-top: 30px; margin-right:20px;width:250px;text-align:center;}
#addtional{margin-top:22px;}

/*this is the background div for the textarea where the manuscript will be written*/
#bookDiv{width:500px;min-height:240px;margin-right:auto;margin-left:auto;background-color:rgba(200,200,200,1.00);
	text-align:center;
	
	
background: rgba(142,208,232,1);
background: -moz-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,208,232,1)), color-stop(50%, rgba(153,226,250,1)), color-stop(100%, rgba(156,218,240,1)));
background: -webkit-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -o-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -ms-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: linear-gradient(to bottom, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
}

#infoBox{width:320px;height:110px;margin-left:auto;margin-right:auto;margin-top:20px;}
#labels{float:left;height:auto;width:100px;}
#inputs{float:right;;height:auto;width:200px;}
#saveBookForm{margin-top:10px;margin-bottom:10px;}

#scriptMenuBar{width:100%;height:60px;
background: rgba(196,192,196,1);
background: -moz-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,192,196,1)), color-stop(50%, rgba(130,132,133,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: linear-gradient(to bottom, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);

-webkit-box-shadow: 2px 2px 24px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);
box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);

  font: 25px Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #1A1A1A;
  font-weight:500;
  text-shadow: 0px 2px 3px #848484;
  line-height:60px;
}
#manuscriptArea{margin-top:10px;resize: vertical;column-rule:medium;}

	/*This is the about me edit button*/
#profileEditButton{position:relative;
	bottom:52px;left:50px;
	width:120px;height:30px;}
#editAboutMe
{
	position:relative;
	bottom:15px;left:100px;
	width:140px;height:40px;
}
#contactGray{width:240px;
	float: left; 
	background: #cccccc;
	overflow: hidden;
	z-index:2;
}
#editContactInfo
{
	position:relative;
	bottom:52px;left:50px;
	width:120px;height:30px;
}
#aboutGrey{width:340px;z-index:2;}
.templatemo_logout{
	background: #259AB8;
	text-align: center;
	width: 100%;
}


a:link
{
	/*text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;*/
/*	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	font-size: 50px;
	color: white;
	
	text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 2px 0 #bbb,
               0 3px 0 #b9b9b9,
               0 4px 0 #aaa,
               0 3px 1px rgba(0,0,0,.1),
               0 0 3px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	
	text-decoration: none; */
}

a:visited
{
	color: #800080;
	text-decoration: underline;
}

a:hover
{
	color: #cccccc;
	font-size:40px;
	
}
#viewBooks
{
	width:250px;
	height:40px;
	background-color:rgba(99,231,72,0.70);
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:left;
	color:white;
	text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 2px 0 #bbb,
               0 3px 0 #b9b9b9,
               0 4px 0 #aaa,
               0 3px 1px rgba(0,0,0,.1),
               0 0 3px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

	text-align:center;
	line-height:35px;
	font-size:14pt;
}
#viewBooks:hover{cursor:pointer;height:38px;border:solid 2px rgba(85,127,184,1.00);}
.service
{
	width:250px;
	height:40px;
	background-color:rgba(99,231,72,0.70);
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:right;
	color:white;
	text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 2px 0 #bbb,
               0 3px 0 #b9b9b9,
               0 4px 0 #aaa,
               0 3px 1px rgba(0,0,0,.1),
               0 0 3px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

	text-align:center;
	line-height:35px;
	font-size:14pt;
}
.bookItem{margin:5px;float:left;width:239px;height:150px;
border: 1px solid;background-color:white;
line-height:150px;text-align:center;
}
.bookItem:hover{cursor:pointer;}
#bookList
{
width:750px;min-height:480px;margin-right:auto;margin-left:auto;

}
#scrollDiv{height:520px;width:width:755px;overflow-y:auto;
margin-left:auto;margin-right:auto; margin-top:20px;}

#serviceBackground{width:800px;height:600px;margin-left:auto;margin-right:auto;background-color:#868686;}
#goBackService{background-color:#8C1B1D; width:80px;height:40px;float:left;line-height:35px;}
#goBackService:hover{border:2px solid #2385AF;}
#serviceGoBack{font-size:12pt;font-weight:normal;}
.service:hover{cursor:pointer;height:38px;border:solid 2px rgba(85,127,184,1.00);}
#services
{
	float:right;
	height:42px;
	width:500px;	
}
#topService{height:41px;width:100%;padding-bottom:1px;
border-bottom:1px solid #C0C0C0;
}
a:active
{
	color: white;
	text-decoration: underline;
}

a.nontext /* used to override default properties of 'a' tag */
{
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}


/*Everything we put in (Figbook) */



#cmt{z-index:2;}
.clear	{ clear: both; }
.content { display: none; height: auto; z-index:1;}
.homepage{ display: block; }
.portfolioshow	{ display: block; }
 .container	{ margin-left:auto;margin-right:auto; } 
#menu-1{width:auto;}
#proflieLink
{
	color: white;
	border: none;
}

.templatemo_link ,.templatemo_linkservice,.templatemo_linkcontact { 
	font-size: 2em; color: #ffffff;
	width: 95%;
}

.templatemo_link1 { 
	font-size: 2em; color: #ffffff;
	padding-top:20%;
	position: absolute;
	width: 100%;
}

.templatemo_smalltitle { 
	float: left; 
	padding: 0px 0px 0px 0px; 
	font-size: 1em; 
	color: #b5b5b5;
	margin: 10px 0px 30px 25px;
}

.templatemo_footer { 
	float: right; 
	padding: 0px 0px 0px 0px; 
	font-size: 14px; 
	color: #b5b5b5;
	margin: 30px 40px 20px 0px;
}

.templatemo_mainservice	{
	background: #999933;
	text-align: center;
	width: 100%;
	float: left;
}

.templatemo_mainportfolio {
	background: #993333;
	text-align: center;
	width: 100%;
}

.templatemo_maintesti {
	background: #339966;
	text-align: center;
	width: 100%;
}

.templatemo_mainabout	{
	background: #cc9933;
	text-align: center;
	width: 100%;
}

.templatemo_maincontact	{
	background: #965B5B;
	text-align: center;
	width: 100%;
}



.templatemo_insideportfolio	 h2 { color: #ffffff; }
.templatemo_insideportfolio	{
	background: #993333;
	width: 100%;
	padding: 0px;
	color: #ffffff;
}

.templatemo_portfoliotext { 
	color: #ffffff;
	position: absolute;
	width: 95%;
	padding: 30px;
}
	
.templatemo_portfolioback { 
	background: #666666;
	text-align: center;
	width: 100%;
}

	
.templatemo_aboutback { 
	background: #666666;
	text-align: center;
}
	
.templatemo_graybg { 
	float: left; 
	background: #cccccc;
	overflow: hidden;
	width:240px;
}

.templatemo_paddinggap	{ padding: 30px; }
.templatemo_form { padding: 10px 0px; }
.templatemo_form input, .templatemo_form textarea { 
	border-radius: 0px; 
	border: 1px solid #999999; 
}

.templatemo_form textarea { 
	height: 150px;
}

.templatemo_form button {
	float: right;
	background: #666666;
	color: #ffffff;
	border-radius: 0px;
	border: none;
	font-size: 16px;
}

#templatemo_map	{ 
	width: 100%;
	height: 280px;
}

.templatemo_address { color: #757575; padding-top: 10px; }

/*------------------------------------------------------
	Gallery Styles 
--------------------------------------------------------*/
.gallery-item {
  -webkit-box-shadow: inset 0 0 1px #666;
  -moz-box-shadow: inset 0 0 1px #666;
  box-shadow: inset 0 0 1px #666;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
}
.gallery-item .content-gallery {
  text-align: center;
}
.gallery-item .content-gallery h3 {
  color: #b10021;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
.gallery-item img {
  width: 100%;
}
.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.gallery-item .overlay a {
  color: #ffffff;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  font-size: 24px;
}

.templatemo_frame { 
	float: left; overflow-x:hidden; margin-top: 30px;text-align:center;width:240px;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #cccccc;
}

.templatemo_frame a {
	color: #06C;
}

.templatemo_frame a:hover {
	color: #C30;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b1b1b1;
}

.resp-vtabs ul.templatemo_tab { float: left; width: 100%; }
.resp-vtabs ul.templatemo_tab li { padding: 0px; background: url(../images/templatemo_arrow_gap.png) no-repeat center right #cc9933; font-size: 24px; text-align: center; font-weight: normal; }
.resp-vtabs ul.templatemo_tab li.resp-tab-active{ background: url(../images/templatemo_arrow.png) no-repeat center right #cc9933; border: 0px; padding: 0px; color: #ffffff; }

.resp-vtabs ul.templatemo_testitab { float: left; width: 100%; }
.resp-vtabs ul.templatemo_testitab li { padding: 0px; background: url(../images/templatemo_arrow_gap.png) no-repeat center right #339966; font-size: 24px; text-align: center; font-weight: normal; }
.resp-vtabs ul.templatemo_testitab li.resp-tab-active { background: url(../images/templatemo_testi_arrow.png) no-repeat center right #339966; border: 0px; padding: 0px; color: #ffffff;  }

.resp-vtabs .templatemo_aboutcontainer, .resp-vtabs .templatemo_testicontainer	{  background: none; border-radius: 0px; border: 0px; }
h2.resp-accordion	{ color: #ffffff; }
.resp-tabs-list li	{ color: #ffffff; }

.templatemo_testicontainer h2.resp-accordion {
 background: #339966 !important; }
 
.templatemo_aboutcontainer h2.resp-accordion {
 background: #cc9933 !important; }
 
/*----- Page Load ------*/

@media(min-width:320px) {
	.templatemo_leftgap	{ padding: 0px 10px; }
	.templatemo_rightgap_about	{ padding: 0px 10px; }
	.templatemo_botgap	{ margin: 0px 0px 20px 0px; }
	.templatemo_topgap, .templatemo_portfotopgap	{ margin-top: 20px; }
	.templatemo_col37	{ float: left; width: 100%; }
	.resp-vtabs .templatemo_aboutcontainer, .resp-vtabs .templatemo_testicontainer	{ width: 100%; }
	.templatemo_aboutlinkwrapper{ display: none; }
	.templatemo_aboutlinkwrapper1{  display: block; }
	.templatemo_frame	{ padding: 0px 30px 30px 30px; }
	.templatemo_link { padding-top: 20%; }
	.logocontainer	{ padding: 0px 15px; margin: 0 auto; }
	.templatemo_insideportfolio	{ padding-bottom: 30px; }
	.templatemo_link, .templatemo_linkservice, .templatemo_linkcontact  { padding: 50px 0px; }

}	
@media(min-width:320px) and (max-width: 767px) {
	/*.container	{ left: 15px; right: 15px; padding: 0px; }*/
}
@media(min-width:768px) {
	.templatemo_leftgap	{ padding: 0px 10px; }
	.templatemo_botgap	{ margin: 0px 0px 20px 0px; }
	.templatemo_topgap	{	margin-top: 20px; }
	.templatemo_portfotopgap	{ margin-top: 0px; } 
	.templatemo_link { padding-top: 20%; }
	/*.container { left: 50%; margin-left: -375px; right: 0px; }*/
	.logocontainer	{ width: 750px; padding: 0px 15px; margin: 0 auto; }
	.templatemo_insideportfolio	{ height: 398px; }
	.templatemo_link, .templatemo_linkservice, .templatemo_linkcontact 	{ height: 189px; line-height: 189px; padding: 0px; }
}

@media(min-width:992px) {
	.templatemo_leftgap	{ padding: 0px 6px; }
	.templatemo_rightgap_about	{ padding: 0px 6px 0px 2px; }
	.templatemo_botgap	{ margin: 0px 0px 12px 0px; }
	.templatemo_topgap	{	margin-top: 0px; }
	.templatemo_portfotopgap	{ margin-top: 0px; }
	.templatemo_bordergapborder	{ padding: 0px; margin: 0px; }
	.templatemo_graybg	{height: 397px; }
	.templatemo_col37	{ float: left; width: 37.5%; }
	.templatemo_col50	{ float: left; width: 50%; position: relative; }
	.templatemo_form { padding: 5px 0px; }
	.templatemo_form textarea { height: 120px; }
	.templatemo_address { font-size: 12px; }
	.templatemo_portfoliotext { width: 95%; padding: 15px ; font-size: 14px; }
	.resp-vtabs .templatemo_aboutcontainer, .resp-vtabs .templatemo_testicontainer	{ width: 75%; }
	.templatemo_leftgap_about	{ padding: 0px 0px 0px 6px; }
	.templatemo_aboutlinkwrapper { width: 95.8%; float: left; background: #666666; text-align: center; display: block; }
	.templatemo_aboutlinkwrapper1 {  display: none; }
	.resp-vtabs .templatemo_tab li,
	.resp-vtabs .templatemo_testitab li{ padding: 0px;  margin-bottom: 12px; }
	.resp-vtabs ul.templatemo_tab li, 
	.resp-vtabs ul.templatemo_tab li.resp-tab-active, 
	.resp-vtabs ul.templatemo_testitab li, 
	.resp-vtabs ul.templatemo_testitab li.resp-tab-active	{ line-height: 79px; height: 79px; }
	.templatemo_frame	{ height: 337px; margin-right: 1px; padding: 0px 30px; }
	.templatemo_link { padding-top: 15%; }
	/*.container { left: 50%; margin-left: -485px; }*/
	.templatemo_link, .templatemo_linkservice, .templatemo_linkcontact { height: 124px; line-height: 124px; padding: 0px; }
	.logocontainer	{ width: 970px; padding: 0px 15px; margin: 0 auto; }
	.templatemo_insideportfolio	{ height: 260px; }
}

@media(min-width:1200px) {
	.templatemo_leftgap	{ padding: 0px 8px; }
	#contactImage{width:400px;float:left;}
	#aboutMeImage{width:400px;float:left;}
	#aboutLeftBack{width:360px;}
	.templatemo_rightgap_about	{ width:260px;float:left;   }
	.templatemo_botgap	{ margin: 0px 0px 16px 0px; }
	.templatemo_topgap	{ margin-top: 0px; }
	.templatemo_portfotopgap	{ margin-top: 0px; }
	.templatemo_bordergapborder	{ padding: 0px 16px; }
	.templatemo_graybg	{ height: 466px; }
	.templatemo_col37	{ float: left; width: 37.5%; position: relative; }
	.templatemo_col50	{ float: left; width: 50%; position: relative; }
	.templatemo_form { padding: 10px 0px; }
	.templatemo_form textarea { height: 150px; }
	.templatemo_address { font-size: 14px; }
	.templatemo_portfoliotext { width: 95%; padding: 30px; font-size: 16px; }
	.resp-vtabs .templatemo_aboutcontainer, .resp-vtabs .templatemo_testicontainer	{ width: 75%; }
	.templatemo_leftgap_about	{ padding: 0px 0px 0px 10px; }
	.resp-vtabs ul.templatemo_tab li, 
	.resp-vtabs ul.templatemo_tab li.resp-tab-active, 
	.resp-vtabs ul.templatemo_testitab li, 
	.resp-vtabs ul.templatemo_testitab li.resp-tab-active { line-height: 93px; height: 93px; }
	.resp-vtabs .templatemo_tab li, 
	.resp-vtabs .templatemo_testitab li { padding: 0px;  margin-bottom: 15px; }
	.templatemo_frame	{ height: 406px; padding: 0px 30px; }
	.templatemo_link { height: 150px; line-height: 150px; padding: 0px; }
	/*.container { left: 50%; margin-left: -585px; }*/
	.logocontainer	{ width: 1140px; padding: 0px 30px; margin: 0 auto; }
	.templatemo_insideportfolio	{ height: 316px; }
	.templatemo_leftgap_about .templatemo_link { height: 142px; line-height: 142px; padding: 0px; }
	.templatemo_linkservice, .templatemo_linkcontact { height: 145px; line-height: 145px; padding: 0px; }
}#contactGray {
}
#templatemo_graybg {
}
