@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}


html, body {
	 font-family: 'Source Sans Pro', sans-serif;
	padding: 0px; 
	margin: 0px; 
	font-size: 16px;
	overflow-x:hidden;
	background:white;
	/*background:rgba(194, 202, 204,0.5);*/
	height: 100%;
}

 


/*Everything we put in (Figbook) */
#menu-container{
	

	margin-bottom: -250px;
	margin-top: 0px;
	min-height: 550px;
	position: relative;
	padding:100px;
	width:100%;
	
	background:rgba(194, 202, 204,0.5);
	z-index: 0;

	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
	
	
}
/*Logout button styling*/
#logoutDiv
{
    margin-left:4px;
	width:150px;
	height:40px;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:right;
    border-bottom:2px dotted rgba(47,47,47,0.92);
	color:rgba(4,42,130,1.00);
    text-shadow: 0 1px 2px rgba(107,207,198,1.00);
	position:relative;
	top:10px;
	right:2px;
	line-height:35px;
	font-size:20pt;
	text-align: center;
}
#logoutDiv:hover{font-size:26pt;cursor:pointer;height:50px;border-bottom:solid 2px rgba(85,127,184,1.00);}
#logoutText
{
    color:rgba(4,42,130,1.00);
    text-shadow: 0 1px 2px rgba(107,207,198,1.00);
	text-decoration: none;
}
/*Main menu area styling*/
.menuInfo
{
  text-align:center;margin-top:5px;font-size: 18px;
  text-shadow: 1px 2px 10px rgba(0,0,0,1.0);
  margin-top:10px;
  
}

 


#preface{margin-top:14px;resize:vertical;}

.menuItem{
	color:rgba(40,40,250,1);
	
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	font-size: 50px;
	text-decoration: none;
	text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 2px 0 #bbb,
               0 3px 0 #b9b9b9,
               0 4px 0 #aaa,
               0 3px 1px rgba(0,0,0,.1),
               0 0 3px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
			   
	
	}
.menuItem:hover{
  text-decoration: none;
  color:rgb(20,20,250);
  font-size: 55px;
	}
.menuItem:active{
  text-decoration: none;
  color:rgb(40,70,250);
}


a:visited{
  text-decoration: none;
  color:rgba(40,40,250,1);
}
#portImageBack{height:200px;width:150px; float:left;margin-left:5px;margin-top:5px;}
#portImage{height:200px;width:150px;}

#portfolioGray{width:550px;
	float: left; 
	background: #cccccc;
	overflow: hidden;
	z-index:2;
}
/*this is the background div for the textarea where the manuscript will be written*/
#bookDiv{width:500px;min-height:240px;margin-right:auto;margin-left:auto;background-color:rgba(200,200,200,1.00);
	text-align:center;
	
	
background: rgba(142,208,232,1);
background: -moz-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,208,232,1)), color-stop(50%, rgba(153,226,250,1)), color-stop(100%, rgba(156,218,240,1)));
background: -webkit-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -o-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: -ms-linear-gradient(top, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
background: linear-gradient(to bottom, rgba(142,208,232,1) 0%, rgba(153,226,250,1) 50%, rgba(156,218,240,1) 100%);
}
#backDiv{overflow-y:auto;
	overflow-x:hidden;
	height:100%;
	width:100%;
}

#profileFrame{width:320px;}
.sectionDiv{width:100%;background-color:white;min-height:300px;height:auto;cursor:pointer;}
.sectionHeading{width:100%;background-color:rgba(243,243,243,1.00);height:40px;text-align:center;font-size:24pt;}
.insideText{white-space:pre-line;padding:20px;}


#inputHeading{width:100%;height:40px;text-align:center;background-color:rgba(243,243,243,1.00);
	font-size:18pt;
}
#pageEditTitle{text-align:center;}



#addtional{margin-top:22px;}



#infoBox{width:320px;height:110px;margin-left:auto;margin-right:auto;margin-top:20px;}
#labels{float:left;height:auto;width:100px;}
#inputs{float:right;;height:auto;width:200px;}
#saveBookForm{margin-top:10px;margin-bottom:10px;}

#scriptMenuBar{width:100%;height:60px;
background: rgba(196,192,196,1);
background: -moz-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,192,196,1)), color-stop(50%, rgba(130,132,133,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: linear-gradient(to bottom, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);

-webkit-box-shadow: 2px 2px 24px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);
box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);

  font: 25px Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #1A1A1A;
  font-weight:500;
  text-shadow: 0px 2px 3px #848484;
  line-height:60px;
}
#manuscriptArea{margin-top:10px;resize: vertical;column-rule:medium;}

	/*This is the about me edit button*/


#contactGray{width:240px;
	float: left; 
	background: #cccccc;
	overflow: hidden;
	z-index:2;
}
#editContactInfo:hover{cursor: pointer;}
#editContactInfo
{
	margin-top:20px;
	width:120px;height:30px;
}
#aboutGrey{width:340px;z-index:2;}


#viewBooks
{
	width:250px;
	height:40px;
	background-color:rgba(59,136,192,1.00);
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:left;
border:1px solid rgba(47,47,47,0.92);
	color:rgba(4,42,130,1.00);
text-shadow: 0 1px 2px rgba(107,207,198,1.00);
	text-align:center;
	line-height:35px;
	font-size:20pt;
}
#viewBooks:hover{cursor:pointer;height:38px;border:solid 2px rgba(85,127,184,1.00);}
.service
{
	width:250px;
	height:40px;
	top:-1;
	background-color:rgba(59,136,192,1.00);
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
border:1px solid rgba(47,47,47,0.92);
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:right;
	color:rgba(4,42,130,1.00);
text-shadow: 0 1px 2px rgba(107,207,198,1.00);

	text-align:center;
	line-height:35px;
	font-size:20pt;
}
.bookItem{margin:5px;float:left;width:239px;height:150px;
border: 1px solid;
background-color:rgba(92,211,63,0.89);
line-height:150px;text-align:center;
-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);

}
.bookItem:hover{cursor:pointer;
-webkit-box-shadow: 0px 0px 5px 2px rgba(177,211,224,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(177,211,224,1);
box-shadow: 0px 0px 5px 2px rgba(177,211,224,1);
}
#bookList
{
width:750px;min-height:480px;margin-right:auto;margin-left:auto;
}
#scrollDiv{overflow-y:auto;overflow-x:none;
margin-left:auto;margin-right:auto; margin-top:20px;}

#serviceBackground{width:800px;height:700px;margin-left:auto;margin-right:auto;
background: rgba(92,194,219,1);
background: -moz-linear-gradient(top, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,194,219,1)), color-stop(50%, rgba(83,186,214,1)), color-stop(100%, rgba(109,189,209,1)));
background: -webkit-linear-gradient(top, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
background: -o-linear-gradient(top, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
background: -ms-linear-gradient(top, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);
background: linear-gradient(to bottom, rgba(92,194,219,1) 0%, rgba(83,186,214,1) 50%, rgba(109,189,209,1) 100%);


}
#goBackService{

width:150px;
	height:40px;
	background-color:rgba(59,136,192,1.00);
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	float:left;
	
	
	border:1px solid rgba(47,47,47,0.92);
	text-align:center;
	line-height:35px;
	font-size:14pt;

}
#goBackService:hover{border:2px solid #2385AF;}
#serviceGoBack{font-size:20pt;font-weight:normal;
color:rgba(4,42,130,1.00);
text-shadow: 0 1px 2px rgba(107,207,198,1.00);
text-decoration:none;
}
.service:hover{cursor:pointer;height:38px;border:solid 2px rgba(85,127,184,1.00);}
#services
{
	float:right;
	height:40px;
	width:500px;	
}
#topService{height:40px;width:100%;padding-bottom:1px;
border-bottom:1px solid #C0C0C0;
background: rgba(196,192,196,1);
background: -moz-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,192,196,1)), color-stop(50%, rgba(130,132,133,1)), color-stop(100%, rgba(181,181,181,1)));
background: -webkit-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -o-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: -ms-linear-gradient(top, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);
background: linear-gradient(to bottom, rgba(196,192,196,1) 0%, rgba(130,132,133,1) 50%, rgba(181,181,181,1) 100%);

-webkit-box-shadow: 2px 2px 24px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);
box-shadow: 2px 4px 24px 3px rgba(0,0,0,0.75);

}
a:active
{
	color: white;
	text-decoration: underline;
}

a.nontext /* used to override default properties of 'a' tag */
{
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}


/*Everything we put in (Figbook) */
#cmt{z-index:2;}
.clear	{ clear: both; }
.content { display: none; height: auto; z-index:1;}
.homepage{ display: block; }
.portfolioshow	{ display: block; }
 .container	{ margin-left:auto;margin-right:auto; height:auto;} 
#menu-1{height:auto;}
#proflieLink
{
	color: white;
	border: none;
}

.templatemo_paddinggap	{ padding: 30px; }
.templatemo_form { padding: 10px 0px; }
.templatemo_form input, .templatemo_form textarea { 
	border-radius: 0px; 
	border: 1px solid #999999; 
}

.templatemo_form textarea { 
	height: 150px;
}

.templatemo_form button {
	float: right;
	background: #666666;
	color: #ffffff;
	border-radius: 0px;
	border: none;
	font-size: 16px;
}

#templatemo_map	{ 
	width: 100%;
	height: 280px;
}

.templatemo_address { color: #757575; padding-top: 10px; }

/*------------------------------------------------------
	Gallery Styles 
--------------------------------------------------------*/
.gallery-item {
  -webkit-box-shadow: inset 0 0 1px #666;
  -moz-box-shadow: inset 0 0 1px #666;
  box-shadow: inset 0 0 1px #666;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
}
.gallery-item .content-gallery {
  text-align: center;
}
.gallery-item .content-gallery h3 {
  color: #b10021;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
.gallery-item img {
  width: 100%;
}
.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.gallery-item .overlay a {
  color: #ffffff;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  font-size: 24px;
}

.templatemo_frame { 
	float: left; overflow-x:hidden; margin-top: 30px;text-align:center;width:240px;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #cccccc;
}

.templatemo_frame a {
	color: #06C;
}

.templatemo_frame a:hover {
	color: #C30;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b1b1b1;
}

.resp-vtabs ul.templatemo_tab { float: left; width: 100%; }
.resp-vtabs ul.templatemo_tab li { padding: 0px; background: url(../images/templatemo_arrow_gap.png) no-repeat center right #cc9933; font-size: 24px; text-align: center; font-weight: normal; }
.resp-vtabs ul.templatemo_tab li.resp-tab-active{ background: url(../images/templatemo_arrow.png) no-repeat center right #cc9933; border: 0px; padding: 0px; color: #ffffff; }

.resp-vtabs ul.templatemo_testitab { float: left; width: 100%; }
.resp-vtabs ul.templatemo_testitab li { padding: 0px; background: url(../images/templatemo_arrow_gap.png) no-repeat center right #339966; font-size: 24px; text-align: center; font-weight: normal; }
.resp-vtabs ul.templatemo_testitab li.resp-tab-active { background: url(../images/templatemo_testi_arrow.png) no-repeat center right #339966; border: 0px; padding: 0px; color: #ffffff;  }

.resp-vtabs .templatemo_aboutcontainer, .resp-vtabs .templatemo_testicontainer	{  background: none; border-radius: 0px; border: 0px; }
h2.resp-accordion	{ color: #ffffff; }
.resp-tabs-list li	{ color: #ffffff; }

.templatemo_testicontainer h2.resp-accordion {
 background: #339966 !important; }
 
.templatemo_aboutcontainer h2.resp-accordion {
 background: #cc9933 !important; }
 
/********************Profile START*****************************/
#profileContainer{
  display:none;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  height:500px;
 
}
#topProfileBar button:hover{cursor:pointer;}
#topProfileBar button{width:120px;height:30px;}
#topProfileBar
{
  width:100%;
  height:35px;
  padding-top:2px;
}
#aboutme{height:180px;padding:2px;width:305px;resize: none;}/*This is the about me textArea*/
#editAboutMe:hover{cursor:pointer;}
#editAboutMe
{
	margin-top:20px;
	width:120px;height:30px;
}
#aboutMeContainer
{
   background-color:rgb(209, 209, 209);
  overflow-y:auto;
  display:block;
  width:30%;
  height:300px;
  margin-left:auto;
  margin-right:auto;

 border:3px groove rgba(255, 255, 255,0.3);
  float:left;
}
.details
{
   float:left;
   height:auto;
   width:300px;
  margin-left:20px;
   text-align:center;
}
#aboutImage
{
  width:340px;
  height:120px;
  
}
#portfolioContainer button:hover{cursor:pointer;}
#portfolioContainer button{width:120px;height:30px;}
#portfolioContainer
{
 
  background-color:rgb(209, 209, 209);
  overflow-y:auto;
  display:block;
  width:100%;
  height:220px;
  
  float:left;
  

  border:3px groove rgba(255, 255, 255,0.3);
}
#frame1 p{font-size:12pt;margin-top:5px;}
#frame1 input
{
font-size:14pt;
}
#frame1
{
float:left;overflow-x:hidden;
margin-left:20px;
width:250px;text-align:left;

}
#frame2 textarea{width:300px;height:160px;}
#frame2
{
float:left;overflow-x:hidden;
margin-top: 5px;
width:350px;text-align:center;

}

#profileEditButton:hover{cursor: pointer;}
#profileEditButton{
	float:right;
	margin-top:5px;
	width:120px;height:30px;
}

#contactInfoContainer
{
  
  background-color:rgb(209, 209, 209);
  overflow-y:auto;
  display:block;
  width:70%;
  height:300px;
  margin-left:auto;
  margin-right:auto;
  float:left;
  
  border:3px groove rgba(255, 255, 255,0.3);
}
#authorOfList
{
  margin-left:20px;
  width:200px;
  float:left;
  text-align:center;
  
}
#contactInfoDiv
{
  
  width:250px;
  float:left;
  margin-left:10px;
  text-align:center;
}
.aboutMeInfo
{
  width:300px;
  height:150px;
}
/********************Profile END*****************************/
 
/********************About Us START*****************************/
.topAboutBar button:hover{cursor:pointer;}
.topAboutBar button{width:120px;height:30px;}
.topAboutBar
{
  width:100%;
  height:35px;
  padding-top:2px;
}

#menu-5
{
  
  display:none;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  height:400px;
}
.topAboutBar
{
  width:100%;
  height:38px;
  border-bottom:3px groove rgba(255, 255, 255,0.3);
}
.aboutFrame h2{text-align:center;margin-bottom:20px;}
.aboutFrame
{
  border:3px groove rgba(255, 255, 255,0.3);
  background-color:rgb(209, 209, 209);
  text-align: left;
  float:left;
  width:400px;
  height:400px;
  padding-left:20px;
  padding-right:20px;
}
/********************About Us END*****************************/

/********************Contact Us START*****************************/
.topContactBar{
  width:100%;
  height:35px;

  border-bottom:3px groove rgba(255, 255, 255,0.3);
}
#menu-6
{
  display:none;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  height:450px;
}
#menu-6 button:hover{cursor:pointer;}
#menu-6 button{width:120px;height:30px;}
.contactForm{width:45%;height:450px;float:left;
  border:3px groove rgba(255, 255, 255,0.3);
  background-color:rgb(209, 209, 209);
  padding:5px;
}
#contactBack{float:right;height:100%;width:300px;}
#contactUsForm{float:left;height:100%;width:200px;}
.locationBack{height:100%;width:55%;float:left;
  border:3px groove rgba(255, 255, 255,0.3);
  background-color:rgb(209, 209, 209);
  padding:5px;
  
}
#message{resize: none;
height:180px;
}
/********************Contact Us END*****************************/
 
/*----- Page Load ------*/


@media(min-width:320px) {
	/*figbook heading remove and add with different screen size*/
	#figbookHeading{display:none;}
	
	
	/*Styling menu items*/
	.menuBox:nth-child(1){margin-top:40px;}
	.menuBox:nth-child(2){margin-top:40px;}
	.menuBox:nth-child(3){margin-top:40px;}
	.menuBox:nth-child(4){margin-top:40px;}
	
	#menu-1{width:318px;margin-left:auto;margin-right:auto;}
	#powered{display:none;}
	#menu-container{width:100%;min-height:1200px;padding:20px;padding-top: 100px;}
	.templatemo_link{height:40px;line-height:40px;padding:0px;text-align:center;width:100%;}
	.templatemo_mainimg{visibility:hidden;height:0px;margin:0;}
	.menuBox{text-align:center;height:150px;width:305px;float:left;margin:5px;}
	
	.text-shadow{display:block;}
	/*This is the Catalogue area's styling for a phone size*/
	#serviceBackground{width:300px;min-height:900px;}
	#topService{width:300px;height:140px;}
	#services{height:90px;width:300px;}
	.service{margin-top:5px;float:left;margin-left:25px;}
	#scrollDiv{width:260px;overflow-x:hidden;height:700px;}
	#viewBooks{margin-left:25px;margin-top:5px;}
	#goBackService{margin-left:75px;margin-top:5px;}
	#bookDiv{width:98%;}
	#bookList{width:98%;}
	#inputs{margin-right:15px;}
	#preface{width:90%;}
	#scriptMenuBar{height:80px;line-height:40px;}
	#next-button{margin-bottom:10px;}
	/*This is the Catalogue area's styling for a phone size*/
	.wrapper1{min-height:1000px;}
	
	/*.container	{ left: 15px; right: 15px; padding: 0px; }*/
}
@media(min-width:768px) {
	
	/*figbook heading remove and add with different screen size*/
	#figbookHeading{display:block;}
	
	/*Styling menu items*/
	.menuBox:nth-child(1){margin-top:40px;}
	.menuBox:nth-child(2){margin-top:40px;}
	.menuBox:nth-child(3){margin-top:40px;}
	.menuBox:nth-child(4){margin-top:40px;}
  
	#menu-1{width:760px;margin-left:auto;margin-right:auto;}
	#menu-container{width:100%;min-height:1200px;}
	.templatemo_link{height:40px;line-height:40px;padding:0px;text-align:center;width:100%;}
	.templatemo_mainimg{visibility:hidden;height:0px;margin:0;}
	.menuBox{text-align:center;height:150px;width:750px;float:left;margin:5px;}
	#serviceBackground{width:700px;}
	
	/*This is the Catalogue area's styling for a 768+ px size*/
	#serviceBackground{width:700px;min-height:700px;}
	#topService{width:700px;height:40px;}
	.text-shadow{display:block;}
	
	
	
	#bookDiv{width:50%;}
	#bookList{width:98%;}
	#inputs{margin-right:15px;}
	#preface{width:250px;}
	#scriptMenuBar{height:60px;line-height:60px;}
	#next-button{margin-bottom:10px;}
	#preface{width:90%;}

	/*.container { left: 50%; margin-left: -375px; right: 0px; }*/
	.logocontainer	{ width: 750px; padding: 0px 15px; margin: 0 auto; }
	.templatemo_insideportfolio	{ height: 398px; }
	.templatemo_linkservice, .templatemo_linkcontact 	{ height: 189px; line-height: 189px; padding: 0px; }

}

@media(min-width:992px) {
	
	/*figbook heading remove and add with different screen size*/
	#figbookHeading{display:block;}
	
	/*Styling menu items*/
	.menuBox:nth-child(1){position:relative;}
	.menuBox:nth-child(2){position:relative;}
	.menuBox:nth-child(3){top:130px;position:relative;}
	.menuBox:nth-child(4){top:130px;position:relative;}
	
	#menu-container{width:100%;min-height:800px;}
	#scrollDiv{width:980px;overflow-x:hidden;min-height:680px;}
	#menu-1{width:990px;margin-left:auto;margin-right:auto;}
	.templatemo_link{height:40px;line-height:40px;padding:0px;text-align:center;width:100%;}
	.templatemo_mainimg{visibility:hidden;height:0px;margin:0;}
	.menuBox{height:190px;width:482px;float:left;margin:5px;margin-top:20px;}
	#serviceBackground{width:800px;}
	#preface{width:90%;}
	#scriptMenuBar{height:60px;line-height:60px;}
	

	.text-shadow{display:block;}
	.templatemo_leftgap	{ padding: 0px 6px; }
	.templatemo_rightgap_about	{ padding: 0px 6px 0px 2px; }
	.templatemo_botgap	{ margin: 0px 0px 12px 0px; }
	.templatemo_topgap	{	margin-top: 0px; }
	.templatemo_portfotopgap	{ margin-top: 0px; }
	.templatemo_bordergapborder	{ padding: 0px; margin: 0px; }
	.templatemo_graybg	{height: 397px; }
	.templatemo_col37	{ float: left; width: 37.5%; }
	.templatemo_col50	{ float: left; width: 50%; position: relative; }
	.templatemo_form { padding: 5px 0px; }
	.templatemo_form textarea { height: 120px; }
	.templatemo_address { font-size: 12px; }
	.templatemo_portfoliotext { width: 95%; padding: 15px ; font-size: 14px; }
	.resp-vtabs .templatemo_aboutcontainer, .resp-vtabs .templatemo_testicontainer	{ width:200px; }
	.templatemo_leftgap_about	{ padding: 0px 0px 0px 6px; }
	.templatemo_aboutlinkwrapper { width: 95.8%; float: left; background: #666666; text-align: center; display: block; }
	.templatemo_aboutlinkwrapper1 {  display: none; }
	.resp-vtabs .templatemo_tab li,
	.resp-vtabs .templatemo_testitab li{ padding: 0px;  margin-bottom: 12px; }
	.resp-vtabs ul.templatemo_tab li, 
	.resp-vtabs ul.templatemo_tab li.resp-tab-active, 
	.resp-vtabs ul.templatemo_testitab li, 
	.resp-vtabs ul.templatemo_testitab li.resp-tab-active	{ line-height: 79px; height: 79px; }
	.templatemo_frame	{ height: 337px; margin-right: 1px; padding: 0px 30px; }
	
	/*.container { left: 50%; margin-left: -485px; }*/
	 .templatemo_linkservice, .templatemo_linkcontact { height: 124px; line-height: 124px; padding: 0px; }
	.logocontainer	{ width: 970px; padding: 0px 15px; margin: 0 auto; }
	.templatemo_insideportfolio	{ height: 260px; }
}

@media(min-width:1200px) {

	/*figbook heading remove and add with different screen size*/
	#figbookHeading{display:block;}

	/*Styling menu items*/
	.menuBox:nth-child(1){position:relative;left:392px;}
	.menuBox:nth-child(2){left:-392px;top:130px;position:relative;}
	.menuBox:nth-child(3){top:130px;position:relative;}
	.menuBox:nth-child(4){left:392px;position:relative;top:60px;}
	
	#menu-container{width:100%;min-height:750px;}
	#menu-1{height:auto;width:1176px;margin-left:auto;margin-right:auto;}
	.templatemo_link{height:40px;line-height:40px;padding:0px;text-align:center;width:100%;}
	.templatemo_mainimg{visibility:visible;width:200px;height:150px;margin-top:-30px;margin-left:41px;}
	.menu-img{width:300px;height:150px;visibility:visible;}
	.menuBox{height:300px;width:382px;float:left;margin:5px;}.menuBox{height:190px;width:382px;float:left;margin:5px;margin-top:20px;}
	.wrapper1{height:100%;}
	
	#topService{width:800px;height:40px;}
	.text-shadow{display:block;}
	
	#scrollDiv{width:780px;overflow-x:hidden;min-height:600px;max-height:680px;}
	#bookDiv{width:40%;}
	#preface{width:90%;}
	
	#inputs{margin-right:15px;}
	#scriptMenuBar{height:60px;line-height:60px;}
	#next-button{margin-bottom:10px;}
	
	
	#contactImage{width:400px;float:left;}
	#aboutMeImage{width:400px;float:left;}
	#aboutLeftBack{width:360px;}
	.templatemo_rightgap_about	{ width:260px;float:left;   }
	.templatemo_botgap	{ margin: 0px 0px 16px 0px; }
	.templatemo_topgap	{ margin-top: 0px; }
	
	.templatemo_bordergapborder	{ padding: 0px 16px; }
	.templatemo_graybg	{ height: 466px; }
	.templatemo_col37	{ float: left; width: 37.5%; position: relative; }
	.templatemo_col50	{ float: left; width: 50%; position: relative; }
	.templatemo_form { padding: 10px 0px; }
	.templatemo_form textarea { height: 150px; }
	.templatemo_address { font-size: 14px; }
	.templatemo_portfoliotext { width: 95%; padding: 30px; font-size: 16px; }
	.resp-vtabs .templatemo_aboutcontainer, .resp-vtabs .templatemo_testicontainer	{ width: 300px; }
	.templatemo_leftgap_about	{ padding: 0px 0px 0px 10px; }
	.resp-vtabs ul.templatemo_tab li, 
	.resp-vtabs ul.templatemo_tab li.resp-tab-active, 
	.resp-vtabs ul.templatemo_testitab li, 
	.resp-vtabs ul.templatemo_testitab li.resp-tab-active { line-height: 93px; height: 93px; }
	.resp-vtabs .templatemo_tab li, 
	.resp-vtabs .templatemo_testitab li { padding: 0px;  margin-bottom: 15px; }
	.templatemo_frame	{ height: 406px; padding: 0px 30px; }
	.templatemo_link { height: 40px; line-height: 40px; padding: 0px; }
	/*.container { left: 50%; margin-left: -585px; }*/
	.logocontainer	{ width: 1140px; padding: 0px 30px; margin: 0 auto; }
	.templatemo_insideportfolio	{ height: 316px; }
	.templatemo_leftgap_about .templatemo_link { height: 142px; line-height: 142px; padding: 0px; }
	.templatemo_linkservice, .templatemo_linkcontact { height: 145px; line-height: 145px; padding: 0px; }
}#contactGray {
}
#templatemo_graybg {
}
