.version.index /* version checker */
{
	color: #0000FD;
	background-color: #B4A454;
}

.html
{
	background: #FFFFFF url("../images/blueback.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#pu72
{
	width: 0.01px;
	padding-bottom: 114px;
	margin-left: -100px;
}

#u72
{
	z-index: 12;
	height: 82px;
	top: 0px;
}

#u72-bw
{
	z-index: 12;
}

#u216
{
	z-index: 15;
	width: 125px;
	height: 126px;
	top: -3px;
	left: 97px;
}

#pamphletu147
{
	z-index: 20;
	width: 0.01px;
	height: 46px;
	margin-left: 768px;
	top: -78px;
	margin-bottom: -46px;
	position: relative;
}

#u161
{
	z-index: 21;
	width: 335px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#pu163
{
	position: absolute;
	width: 0.01px;
	padding-bottom: 47px;
	top: 1px;
	left: 223px;
}

#u163
{
	width: 111px;
	height: 46px;
	background: #000000 url("../images/u163-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: -o-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 70px);
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 36px;
	right: -2px;
}

#pu163:hover #u163
{
	width: 110px;
	height: 45px;
	background: #000000 url("../images/u163-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: -o-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 70px);
	border-width: 1px;
	border-style: solid;
	border-color: #18FFF2;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: fixed;
	top: 36px;
	right: -3px;
	min-height: 0px;
}

#u229-4
{
	z-index: 24;
	width: 110px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
}

#pu163:hover #u229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 110px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 45px;
}

#pu162
{
	position: absolute;
	width: 0.01px;
	padding-bottom: 47px;
	top: 1px;
	left: 112px;
}

#u162
{
	width: 111px;
	height: 46px;
	background: #000000 url("../images/u163-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: -o-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 70px);
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 36px;
	right: 109px;
}

#pu162:hover #u162
{
	width: 110px;
	height: 45px;
	background: #000000 url("../images/u163-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: -o-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 70px);
	border-width: 1px;
	border-style: solid;
	border-color: #18FFF2;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: fixed;
	top: 36px;
	right: 108px;
	min-height: 0px;
}

#u227-4
{
	z-index: 31;
	width: 110px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
}

#pu162:hover #u227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 110px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 45px;
}

#pu163 #u229-4,#pu162 #u227-4
{
	position: relative;
	width: 110px;
	margin-right: -10000px;
}

#pu191
{
	position: absolute;
	width: 0.01px;
	padding-bottom: 47px;
}

#u191
{
	width: 112px;
	height: 46px;
	background: #000000 url("../images/u163-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: -o-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 70px);
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 36px;
	right: 220px;
}

#pu191:hover #u191
{
	width: 111px;
	height: 45px;
	background: #000000 url("../images/u163-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: -o-linear-gradient(top,#7F7F7F ,#000000 70px);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 70px);
	border-width: 1px;
	border-style: solid;
	border-color: #18FFF2;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: fixed;
	top: 36px;
	right: 219px;
	min-height: 0px;
}

#u226-4
{
	z-index: 38;
	width: 110px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
}

#pu191:hover #u226-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 110px;
	margin-right: -10000px;
	margin-top: -1px;
	min-height: 45px;
}

#pu163.PamphletThumbSelected #u229-4,#pu162.PamphletThumbSelected #u227-4,#pu191.PamphletThumbSelected #u226-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
}

#u229-2,#u227-2,#u226-2
{
	padding-top: 10px;
}

#u229,#u227,#u226
{
	font-size: 24px;
}

#pu191 #u226-4
{
	position: relative;
	width: 110px;
	margin-right: -10000px;
	left: 1px;
}

#u152
{
	position: absolute;
	width: 659px;
	border-style: none;
	border-color: transparent;
	background-color: #565656;
	background-color: rgba(0, 0, 0, 0.66);
	padding-bottom: 44px;
	top: 153px;
	left: -534px;
	-pie-background: rgba(0, 0, 0, 0.66);
}

#u152popup
{
	z-index: 43;
}

#u157
{
	z-index: 44;
	width: 615px;
	height: 452px;
	background: #FFFFFF url("../images/u157-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#28CBD3),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#28CBD3 ,#FFFFFF 805px);
	background: -o-linear-gradient(top,#28CBD3 ,#FFFFFF 805px);
	background: linear-gradient(to bottom,#28CBD3 ,#FFFFFF 805px);
	border-style: none;
	border-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u244
{
	z-index: 45;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 199px;
}

#u153
{
	z-index: 46;
	width: 615px;
	height: 452px;
	background: #FFFFFF url("../images/u153-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#18FFF2),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#18FFF2 ,#FFFFFF 1379px);
	background: -o-linear-gradient(top,#18FFF2 ,#FFFFFF 1379px);
	background: linear-gradient(to bottom,#18FFF2 ,#FFFFFF 1379px);
	border-style: none;
	border-color: transparent;
	opacity: 0.84;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=84)";
	filter: alpha(opacity=84);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u192
{
	z-index: 47;
	width: 615px;
	height: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u203
{
	z-index: 48;
	width: 350px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: transparent url("../images/u203-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(22%, rgba(40, 203, 211, 0.83)),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	background: -o-linear-gradient(top,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	background: linear-gradient(to bottom,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 98px;
	padding: 28px 34px 6px 35px;
}

#u205-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	margin-left: 97px;
	position: relative;
}

#u204-4
{
	z-index: 49;
	width: 350px;
	min-height: 89px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #3D3D3D;
	left: -1px;
	margin-top: 18px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu206
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 20px;
}

#u206
{
	z-index: 7;
	width: 419px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: transparent url("../images/u203-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(22%, rgba(40, 203, 211, 0.83)),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	background: -o-linear-gradient(top,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	background: linear-gradient(to bottom,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 327px;
	position: relative;
	margin-right: -10000px;
}

#u207-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 121px;
}

#u189
{
	z-index: 2;
	width: 419px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: transparent url("../images/u203-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(22%, rgba(40, 203, 211, 0.83)),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	background: -o-linear-gradient(top,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	background: linear-gradient(to bottom,rgba(40, 203, 211, 0.83) 148px,#FFFFFF 673px);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 370px;
	position: relative;
	margin-right: -10000px;
	left: 539px;
}

#u190-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 143px;
}

#pu178
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 256px;
}

#u178
{
	z-index: 13;
}

#u178_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u179
{
	z-index: 14;
	width: 223px;
	height: 82px;
	margin-right: -10000px;
	margin-top: -25px;
	left: 970px;
}

#u178-bw
{
	z-index: 13;
	height: 57px;
}

#u230-4
{
	z-index: 16;
	margin-right: -10000px;
	margin-top: 5px;
	left: 855px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
}

